Label Encoding:
- converting the labels into numeric form

In [35]:
# importing the Dependencies
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

Label Encoding of Breast Cancer Dataset

In [36]:
# loading the data from csv file to pandas dataFrame
cancer_data = pd.read_csv('/content/data.csv')

In [37]:
# first 5 rows of the dataframe
cancer_data.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [38]:
# finding the count of different labels
cancer_data['diagnosis'].value_counts()

B    357
M    212
Name: diagnosis, dtype: int64

In [39]:
# load the Label Encoder function
label_encode = LabelEncoder()

In [40]:
labels = label_encode.fit_transform(cancer_data.diagnosis)

In [41]:
# appending the labels to the DataFrame
cancer_data['target'] = labels

In [42]:
cancer_data.head()

         id diagnosis  ...  Unnamed: 32  target
0    842302         M  ...          NaN       1
1    842517         M  ...          NaN       1
2  84300903         M  ...          NaN       1
3  84348301         M  ...          NaN       1
4  84358402         M  ...          NaN       1

[5 rows x 34 columns]

0 --> Benign

1 --> Malignant

In [43]:
cancer_data['target'].value_counts()

0    357
1    212
Name: target, dtype: int64

# **Excersice 1**

**Label Encoding of iris data**

In [44]:
# Load the iris dataset
#write your code here
iris = pd.read_csv('/content/Iris.csv')
iris

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

In [45]:
#display the first 10 rows of the data set
#Write your code here
iris.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [46]:
#Display the count of Species 
#Write your code here
iris.Species.value_counts()

Iris-setosa        50
Iris-virginica     50
Iris-versicolor    50
Name: Species, dtype: int64

In [47]:
# Encode the Species column using label encoding and append it as a "target" column
#Write your code here
labelencoder = LabelEncoder()
ir = labelencoder.fit_transform(iris.Species)
iris['target'] = ir
iris

      Id  SepalLengthCm  SepalWidthCm  ...  PetalWidthCm         Species target
0      1            5.1           3.5  ...           0.2     Iris-setosa      0
1      2            4.9           3.0  ...           0.2     Iris-setosa      0
2      3            4.7           3.2  ...           0.2     Iris-setosa      0
3      4            4.6           3.1  ...           0.2     Iris-setosa      0
4      5            5.0           3.6  ...           0.2     Iris-setosa      0
..   ...            ...           ...  ...           ...             ...    ...
145  146            6.7           3.0  ...           2.3  Iris-virginica      2
146  147            6.3           2.5  ...           1.9  Iris-virginica      2
147  148            6.5           3.0  ...           2.0  Iris-virginica      2
148  149            6.2           3.4  ...           2.3  Iris-virginica      2
149  150            5.9           3.0  ...           1.8  Iris-virginica      2

[150 rows x 7 columns]

In [48]:
#Display the 10 rows of the new dataet
#Write your code here
iris.head(10)

   Id  SepalLengthCm  SepalWidthCm  ...  PetalWidthCm      Species target
0   1            5.1           3.5  ...           0.2  Iris-setosa      0
1   2            4.9           3.0  ...           0.2  Iris-setosa      0
2   3            4.7           3.2  ...           0.2  Iris-setosa      0
3   4            4.6           3.1  ...           0.2  Iris-setosa      0
4   5            5.0           3.6  ...           0.2  Iris-setosa      0
5   6            5.4           3.9  ...           0.4  Iris-setosa      0
6   7            4.6           3.4  ...           0.3  Iris-setosa      0
7   8            5.0           3.4  ...           0.2  Iris-setosa      0
8   9            4.4           2.9  ...           0.2  Iris-setosa      0
9  10            4.9           3.1  ...           0.1  Iris-setosa      0

[10 rows x 7 columns]

In [49]:
#Display the count of Species 
#Write your code here
iris.Species.value_counts()

Iris-setosa        50
Iris-virginica     50
Iris-versicolor    50
Name: Species, dtype: int64

In [50]:
# Encode the Species column using onehot encoding and append it as a "target" column
#Write your code here
onehotencoder = OneHotEncoder()
df = pd.DataFrame(onehotencoder.fit_transform(iris[['Species']]).toarray())
iris['target'] = df
iris

      Id  SepalLengthCm  SepalWidthCm  ...  PetalWidthCm         Species target
0      1            5.1           3.5  ...           0.2     Iris-setosa    1.0
1      2            4.9           3.0  ...           0.2     Iris-setosa    1.0
2      3            4.7           3.2  ...           0.2     Iris-setosa    1.0
3      4            4.6           3.1  ...           0.2     Iris-setosa    1.0
4      5            5.0           3.6  ...           0.2     Iris-setosa    1.0
..   ...            ...           ...  ...           ...             ...    ...
145  146            6.7           3.0  ...           2.3  Iris-virginica    0.0
146  147            6.3           2.5  ...           1.9  Iris-virginica    0.0
147  148            6.5           3.0  ...           2.0  Iris-virginica    0.0
148  149            6.2           3.4  ...           2.3  Iris-virginica    0.0
149  150            5.9           3.0  ...           1.8  Iris-virginica    0.0

[150 rows x 7 columns]